<h1>Please login to manage your team</h1>

<form action="/coaches" method="post">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="text" name="password" value="" placeholder="Password">
  <input type="submit" name="submit" value="Sign In">
</form>
